body {
    background-color: rgb(241, 237, 237);
}


/*Afghanistan*/

.AF {
    fill: #222;
}

.AF:hover {
    fill: #fff;
}


/*Angola*/

.AO {
    fill: #222;
}

.AO:hover {
    fill: #fff;
}


/*Albania*/

.AL {
    fill: #222;
}

.AL:hover {
    fill: #fff;
}


/*United Arab Emirates*/

.AE {
    fill: #222;
}

.AE:hover {
    fill: #fff;
}


/*Argentina*/

.AR {
    fill: #222;
}

.AR:hover {
    fill: #fff;
}


/*Armenia*/

.AM {
    fill: #222;
}

.AM:hover {
    fill: #fff;
}


/*Austria*/

.AT {
    fill: #222;
}

.AT:hover {
    fill: #fff;
}


/*Azerbaijan*/

.AZ {
    fill: #222;
}

.AZ:hover {
    fill: #fff;
}


/*Burundi*/

.BI {
    fill: #222;
}

.BI:hover {
    fill: #fff;
}


/*Benin*/

.BJ {
    fill: #222;
}

.BJ:hover {
    fill: #fff;
}


/*Burkina Faso*/

.BF {
    fill: #222;
}

.BF:hover {
    fill: #fff;
}


/*Bangladesh */

.BD {
    fill: #222;
}

.BD:hover {
    fill: #fff;
}


/*Bulgaria*/

.BG {
    fill: #222;
}

.BG:hover {
    fill: #fff;
}


/*Bosnia and Herz.*/

.BA {
    fill: #222;
}

.BA:hover {
    fill: #fff;
}


/*Belarus*/

.BY {
    fill: #222;
}

.BY:hover {
    fill: #fff;
}


/*Belize*/

.BZ {
    fill: #222;
}

.BZ:hover {
    fill: #fff;
}


/*Bolivia*/

.BO {
    fill: #222;
}

.BO:hover {
    fill: #fff;
}


/*Brazil*/

.BR {
    fill: #222;
}

.BR:hover {
    fill: #fff;
}


/*Brunei*/

.BN {
    fill: #222;
}

.BN:hover {
    fill: #fff;
}


/*Bhutan*/

.BT {
    fill: #222;
}

.BT:hover {
    fill: #fff;
}


/*Botswana*/

.BW {
    fill: #222;
}

.BW:hover {
    fill: #fff;
}


/*Central African Rep.*/

.CF {
    fill: #222;
}

.CF:hover {
    fill: #fff;
}


/*Canada*/

.CA {
    fill: #222;
}

.CA:hover {
    fill: #fff;
}


/*Switzerland*/

.CH {
    fill: #222;
}

.CH:hover {
    fill: #fff;
}


/*Chile*/

.CL {
    fill: #222;
}

.CL:hover {
    fill: #fff;
}


/*China*/

.CN {
    fill: #222;
}

.CN:hover {
    fill: #fff;
}


/*Côte d'Ivoire*/

.CI {
    fill: #222;
}

.CI:hover {
    fill: #fff;
}


/*Cameroon*/

.CM {
    fill: #222;
}

.CM:hover {
    fill: #fff;
}


/*Dem. Rep. Congo*/

.CD {
    fill: #222;
}

.CD:hover {
    fill: #fff;
}


/*Congo*/

.CG {
    fill: #222;
}

.CG:hover {
    fill: #fff;
}


/*Colombia*/

.CO {
    fill: #222;
}

.CO:hover {
    fill: #fff;
}


/*Costa Rica*/

.CR {
    fill: #222;
}

.CR:hover {
    fill: #fff;
}


/*Cuba*/

.CU {
    fill: #222;
}

.CU:hover {
    fill: #fff;
}


/*Czech Rep.*/

.CZ {
    fill: #222;
}

.CZ:hover {
    fill: #fff;
}


/*Germany*/

.DE {
    fill: #222;
}

.DE:hover {
    fill: #fff;
}


/*Djibouti*/

.DJ {
    fill: #222;
}

.DJ:hover {
    fill: #fff;
}


/*Denmark*/

.DK {
    fill: #222;
}

.DK:hover {
    fill: #fff;
}


/*Dominican Rep.*/

.DO {
    fill: #222;
}

.DO:hover {
    fill: #fff;
}


/*Algeria*/

.DZ {
    fill: #222;
}

.DZ:hover {
    fill: #fff;
}


/*Ecuador*/

.EC {
    fill: #222;
}

.EC:hover {
    fill: #fff;
}


/*Egypt*/

.EG {
    fill: #222;
}

.EG:hover {
    fill: #fff;
}


/*Eritrea*/

.ER {
    fill: #222;
}

.ER:hover {
    fill: #fff;
}


/*Estonia*/

.EE {
    fill: #222;
}

.EE:hover {
    fill: #fff;
}


/*Ethiopia*/

.ET {
    fill: #222;
}

.ET:hover {
    fill: #fff;
}


/*Finland*/

.FI {
    fill: #222;
}

.FI:hover {
    fill: #fff;
}


/*Fiji*/

.FJ {
    fill: #222;
}

.FJ:hover {
    fill: #fff;
}


/*United Kingdom*/

.GB {
    fill: #222;
}

.GB:hover {
    fill: #fff;
}


/*Georgia*/

.GE {
    fill: #222;
}

.GE:hover {
    fill: #fff;
}


/*Ghana*/

.GH {
    fill: #222;
}

.GH:hover {
    fill: #fff;
}


/*Guinea*/

.GN {
    fill: #222;
}

.GN:hover {
    fill: #fff;
}


/*Gambia*/

.GM {
    fill: #222;
}

.GM:hover {
    fill: #fff;
}


/*Guinea-Bissau*/

.GW {
    fill: #222;
}

.GW:hover {
    fill: #fff;
}


/*Eq. Guinea*/

.GQ {
    fill: #222;
}

.GQ:hover {
    fill: #fff;
}


/*Greece*/

.GR {
    fill: #222;
}

.GR:hover {
    fill: #fff;
}


/*Greenland*/

.GL {
    fill: #222;
}

.GL:hover {
    fill: #fff;
}


/*Guatemala*/

.GT {
    fill: #222;
}

.GT:hover {
    fill: #fff;
}


/*Guyana*/

.GY {
    fill: #222;
}

.GY:hover {
    fill: #fff;
}


/*Honduras*/

.HN {
    fill: #222;
}

.HN:hover {
    fill: #fff;
}


/*Croatia*/

.HR {
    fill: #222;
}

.HR:hover {
    fill: #fff;
}


/*Hungary*/

.HU {
    fill: #222;
}

.HU:hover {
    fill: #fff;
}


/*India*/

.IN {
    fill: #222;
}

.IN:hover {
    fill: #fff;
}


/*Ireland*/

.IE {
    fill: #222;
}

.IE:hover {
    fill: #fff;
}


/*Iran*/

.IR {
    fill: #222;
}

.IR:hover {
    fill: #fff;
}


/*Iraq*/

.IQ {
    fill: #222;
}

.IQ:hover {
    fill: #fff;
}


/*Iceland*/

.IS {
    fill: #222;
}

.IS:hover {
    fill: #fff;
}


/*Israel*/

.IL {
    fill: #222;
}

.IL:hover {
    fill: #fff;
}


/*Italy*/

.IT {
    fill: #222;
}

.IT:hover {
    fill: #fff;
}


/*Jamaica*/

.JM {
    fill: #222;
}

.JM:hover {
    fill: #fff;
}


/*Jordan*/

.JO {
    fill: #222;
}

.JO:hover {
    fill: #fff;
}


/*Japan*/

.JP {
    fill: #222;
}

.JP:hover {
    fill: #fff;
}


/*Kazakhstan*/

.KZ {
    fill: #222;
}

.KZ:hover {
    fill: #fff;
}


/*Kenya*/

.KE {
    fill: #222;
}

.KE:hover {
    fill: #fff;
}


/*Kyrgyzstan*/

.KG {
    fill: #222;
}

.KG:hover {
    fill: #fff;
}


/*Cambodia*/

.KH {
    fill: #222;
}

.KH:hover {
    fill: #fff;
}


/*Korea*/

.KR {
    fill: #222;
}

.KR:hover {
    fill: #fff;
}


/*Kuwait*/

.KW {
    fill: #222;
}

.KW:hover {
    fill: #fff;
}


/*Lao PDR*/

.LA {
    fill: #222;
}

.LA:hover {
    fill: #fff;
}


/*Lebanon*/

.LB {
    fill: #222;
}

.LB:hover {
    fill: #fff;
}


/*Liberia*/

.LR {
    fill: #222;
}

.LR:hover {
    fill: #fff;
}


/*Libya*/

.LY {
    fill: #222;
}

.LY:hover {
    fill: #fff;
}


/*Sri Lanka*/

.LK {
    fill: #222;
}

.LK:hover {
    fill: #fff;
}


/*Lesotho*/

.LS {
    fill: #222;
}

.LS:hover {
    fill: #fff;
}


/*Lithuania*/

.LT {
    fill: #222;
}

.LT:hover {
    fill: #fff;
}


/*Luxembourg*/

.LU {
    fill: #222;
}

.LU:hover {
    fill: #fff;
}


/*Latvia*/

.LV {
    fill: #222;
}

.LV:hover {
    fill: #fff;
}


/*Morocco*/

.MA {
    fill: #222;
}

.MA:hover {
    fill: #fff;
}


/*Moldova*/

.MD {
    fill: #222;
}

.MD:hover {
    fill: #fff;
}


/*Madagascar*/

.MG {
    fill: #222;
}

.MG:hover {
    fill: #fff;
}


/*Mexico*/

.MX {
    fill: #222;
}

.MX:hover {
    fill: #fff;
}


/*Macedonia*/

.MK {
    fill: #222;
}

.MK:hover {
    fill: #fff;
}


/*Mali*/

.ML {
    fill: #222;
}

.ML:hover {
    fill: #fff;
}


/*Myanmar*/

.MM {
    fill: #222;
}

.MM:hover {
    fill: #fff;
}


/*Montenegro*/

.ME {
    fill: #222;
}

.ME:hover {
    fill: #fff;
}


/*Mongolia*/

.MN {
    fill: #222;
}

.MN:hover {
    fill: #fff;
}


/*Mozambique*/

.MZ {
    fill: #222;
}

.MZ:hover {
    fill: #fff;
}


/*Mauritania*/

.MR {
    fill: #222;
}

.MR:hover {
    fill: #fff;
}


/*Malawi*/

.MW {
    fill: #222;
}

.MW:hover {
    fill: #fff;
}


/*Malaysia*/

.MY {
    fill: #222;
}

.MY:hover {
    fill: #fff;
}


/*Namibia*/

.NA {
    fill: #222;
}

.NA:hover {
    fill: #fff;
}


/*Niger*/

.NE {
    fill: #222;
}

.NE:hover {
    fill: #fff;
}


/*Nigeria*/

.NG {
    fill: #222;
}

.NG:hover {
    fill: #fff;
}


/*Nicaragua*/

.NI {
    fill: #222;
}

.NI:hover {
    fill: #fff;
}


/*Netherlands*/

.NL {
    fill: #222;
}

.NL:hover {
    fill: #fff;
}


/*Norway*/

.NO {
    fill: #222;
}

.NO:hover {
    fill: #fff;
}


/*Nepal*/

.NP {
    fill: #222;
}

.NP:hover {
    fill: #fff;
}


/*New Zealand*/

.NZ {
    fill: #222;
}

.NZ:hover {
    fill: #fff;
}


/*Oman*/

.OM {
    fill: #222;
}

.OM:hover {
    fill: #fff;
}


/*Pakistan*/

.PK {
    fill: #222;
}

.PK:hover {
    fill: #fff;
}


/*Panama*/

.PA {
    fill: #222;
}

.PA:hover {
    fill: #fff;
}


/*Peru*/

.PE {
    fill: #222;
}

.PE:hover {
    fill: #fff;
}


/*Philippines*/

.PH {
    fill: #222;
}

.PH:hover {
    fill: #fff;
}


/*Papua New Guinea*/

.PG {
    fill: #222;
}

.PG:hover {
    fill: #fff;
}


/*Poland*/

.PL {
    fill: #222;
}

.PL:hover {
    fill: #fff;
}


/*Dem. Rep. Korea*/

.KP {
    fill: #222;
}

.KP:hover {
    fill: #fff;
}


/*Portugal*/

.PT {
    fill: #222;
}

.PT:hover {
    fill: #fff;
}


/*Paraguay*/

.PY {
    fill: #222;
}

.PY:hover {
    fill: #fff;
}


/*Palestine*/

.PS {
    fill: #222;
}

.PS:hover {
    fill: #fff;
}


/*Qatar*/

.QA {
    fill: #222;
}

.QA:hover {
    fill: #fff;
}


/*Romania*/

.RO {
    fill: #222;
}

.RO:hover {
    fill: #fff;
}


/*Russia*/

.RU {
    fill: #222;
}

.RU:hover {
    fill: #fff;
}


/*Rwanda*/

.RU {
    fill: #222;
}

.RU:hover {
    fill: #fff;
}


/*W. Sahara*/

.EH {
    fill: #222;
}

.EH:hover {
    fill: #fff;
}


/*Saudi Arabia*/

.SA {
    fill: #222;
}

.SA:hover {
    fill: #fff;
}


/*Sudan*/

.SD {
    fill: #222;
}

.SD:hover {
    fill: #fff;
}


/*S. Sudan*/

.SS {
    fill: #222;
}

.SS:hover {
    fill: #fff;
}


/*Senegal*/

.SN {
    fill: #222;
}

.SN:hover {
    fill: #fff;
}


/*Sierra Leone*/

.SL {
    fill: #222;
}

.SL:hover {
    fill: #fff;
}


/*El Salvador*/

.SV {
    fill: #222;
}

.SV:hover {
    fill: #fff;
}


/*Serbia*/

.RS {
    fill: #222;
}

.RS:hover {
    fill: #fff;
}


/*Suriname*/

.SR {
    fill: #222;
}

.SR:hover {
    fill: #fff;
}


/*Slovakia*/

.SK {
    fill: #222;
}

.SK:hover {
    fill: #fff;
}